

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	left:0;
    top:0;
	width: 180px;
    background:linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
	height: 100%;  /*导航占全屏高�?*/
	position: fixed;
	z-index: 1000;
}

.navbar li a {
    
	display: block;
    color: #FFFFFF;
    padding: 8px 16px;
    text-decoration: none;
}


.navbar li {
	
    text-align: center;
 
}
	



.navbar .navlist li:hover {
    background-color: #555;
    
	opacity:1;
}






.navbar  {
    color: white;
    min-height:0px;
}


.navbar .dropdown-content {
    
	display: none;
    position: absolute;  /* 悬浮在topic 上时�?子目录不会影响主目录 */
	margin-left:180px;
	margin-top:-100px;
    background-color: #555;
    width: 200px;
	height:300px;
    
    
}

.navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.navbar .dropdown-content a:hover {background-color: #f1f1f1}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}




.topic-container{
	margin-left:200px;	
}
.main{
	position: fixed;
	z-index: 0000;
	width: 100%;
	padding-right: 20px;
	margin-top: 15px;
	padding-left: 200px;
	display: flex;
	flex-wrap: wrap;
}
.user-info{
	background:rgba(255,255,255,.7);
	border-radius: 5px;
    width: 40%;
    min-width: 400px;
    min-height: 100px;
    margin-bottom: 40px;
    margin-right: 20px;
    
}
.announce{
    background:rgba(255,255,255,.7);
	border-radius: 5px;
    width: 40%;
    min-width: 400px;
    min-height: 200px;
}
body{
    background-image: url(../img/Board_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.topic-list{
	 background:rgba(255,255,255,.7);
	width: calc(100% - 230px);
	border-radius: 3px;
}
.t_item{
	text-align: left;
	height: 40px;
	font-size:18px ;
	margin:auto;
	padding-left: 15px;
	padding-top: 15px;
	font: arial;
	width: calc(100% - 40px);
	border-bottom: 1px solid #F2F2F2;
}
.create-topic{
	background-color: #1e88e5;
	position: fixed;
	width: 70px;
	height: 70px;
	right: 25px;
	bottom: 25px;
	padding: 0px 0px;
	border-radius:35px;
	font-size: 35px;
	color: white;
	border: 0px;
	box-shadow: 3px 3px 5px #454545;
}
.create-topic:hover{
    background-color: red;
	position: fixed;
	padding: 0px 0px;
	width: 70px;
	height: 70px;
	right: 25px;
	bottom: 25px;
	border-radius:35px;
	font-size: 35px;
	color: white;
	border: 0px;
	box-shadow: 3px 3px 5px #454545;
}
*{
box-sizing : content-box ;
-webkit-box-sizing: content-box;
}

.search-thing{
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 23px;
}

#search-input{
  height: 18px;
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#search-input:focus{
  outline: none;
  background-color: white;
}

.fa.fa-search:hover{
  color: #319df6;
}

#first-modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
}

#ctm{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
  display: none;
}

.modal-dia{
  height: auto;
  width: auto;
  max-width: 600px;
  min-width: 400px;
  min-height: 220px;
  margin: 40px auto;
  margin-top: 230px;
  background-color: white;
  border-radius: 32px;
}

.modal-head{
  position: relative;
  padding: 10px 25px;
  margin-left: 210px;
}

.modal-body{
    padding: 20px;
}

.get-a-topic {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.get-a-topic label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.get-a-topic input,
.get-a-topic textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.get-a-topic textarea {
  min-height: 64px;
}

.modal-foot {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-foot button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-foot .cb:hover {
  background-color: #ead9d9;
}

.modal-foot .ab {
  background-color: #ef7652;
  color: #fff;
}

.modal-foot .ab:hover {
  background-color: #087dde;
}

.ds{
  position: absolute;
  left:200px;
  justify-content: flex-end;
	z-index: 0000;
	width: 75%;
  
	padding-right: 20px;
	margin-top: 15px;
	flex-wrap: wrap;
  background-color: white;
    border-radius: 8px;
}

.si{
  position: relative;
  top: 18px;
  left: 13px;
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 23px;

}

.totalpass{
  height: auto;
  width:850px;
  max-width: 850px;
  min-width: 400px;
  min-height: 220px;
  margin: 40px auto;
  margin-top: 230px;
  background-color: white;
  border-radius: 32px;
}

.pass{
    padding: 20px;
}

.geto{
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.iopa{
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.getn{
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.inpa{
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

#inpa{
  flex: 1 12px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
  border-radius: 12px;
}

#iopa{
  flex: 1 12px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
  border-radius: 12px;
}
.t_list_title{
	margin-left: 0px;
	display: inline-block;
}
.t_list_button{
	align-content: right;
	margin-right: 0px;
	float:right;
	margin-top: -5px;
	display: inline-block;
}

.upload-button{
	
	float:right;
	margin-right:10px;
	
}
.delete-button{
	
	float:right;
	
	
}

.file_send{
	
	float:right;
	
}

.modal-whole{
  height: auto;
  width: auto;
  max-width: 600px;
  min-width: 400px;
  min-height: 220px;
  margin: 40px auto;
  margin-top: 230px;
  background-color: none;
  border-radius: 32px;
}



.modal-sub{
    padding: 20px;
}